html
    head 
        link(href='css/stile.min.css')
    body
        include html/header 
        main.page 
            h1 Привет! HELLO 123 567
            img(src="@img/ww1.jpg") 
        include html/footer 
        script(src='js/app.min.js') 